---
import ThemeIcon from "~/presentation/shared/components/ThemeIcon.astro";
import NavLink from "~/presentation/shared/components/ui/links/NavLink.astro";
import BrandLogo from "~/presentation/shared/components/BrandLogo.astro";
import LanguagePicker from "~/presentation/shared/components/ui/LanguagePicker.astro";
import { PAGES } from "~/presentation/shared/constants/constants";
import type { Locales } from "~/domain/models/TranslationKey";
import { useI18nStatic } from "~/presentation/shared/hooks/useI18n";

const { currentLocale } = useI18nStatic(Astro.url);
---

<!-- Main header component -->
<header class="sticky inset-x-0 top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start">
  <!-- Navigation container -->
  <nav
    class="perspective group relative mx-2 min-h-20 w-full rounded-3xl border-2 border-t border-gray-300/80 border-t-gray-200/30 bg-white/70 px-4 py-3 shadow-lg backdrop-blur-xl transition-all duration-300 ease-in-out before:pointer-events-none before:absolute before:bottom-0 before:left-0 before:right-0 before:-z-20 before:h-8 before:rounded-b-3xl before:bg-[linear-gradient(0deg,_rgba(0,0,0,0.08)_1px,transparent_1px)] before:bg-[size:8px_4px] before:content-[''] hover:-translate-y-0.5 hover:shadow-xl dark:border-neutral-600/80 dark:border-t-white/10 dark:bg-neutral-800/75 dark:before:bg-[linear-gradient(0deg,_rgba(255,255,255,0.12)_1px,transparent_1px)] md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto"
    aria-label="Global"
  >
    <!-- Decorative vents -->
    <div class="pointer-events-none absolute left-6 right-6 top-1">
      <span class="hidden md:flex md:justify-between">
        {
          Array(8)
            .fill("")
            .map(() => <div class="h-[3px] w-8 rounded-sm bg-gray-300/90 dark:bg-neutral-500/90" />)
        }
      </span>

      <span class="flex justify-between md:hidden">
        {
          Array(4)
            .fill("")
            .map(() => <div class="h-[3px] w-4 rounded-sm bg-gray-300/90 dark:bg-neutral-500/90" />)
        }
      </span>
    </div>

    <!-- Air direction flap with particles -->
    <div class="absolute -bottom-1.5 left-0 right-0 flex justify-center overflow-visible">
      <div class="relative h-6 w-full max-w-[98%]">
        <!-- Black background -->
        <div class="absolute z-10 h-3 w-full rounded-b-lg bg-neutral-900/80"></div>
        <!-- Flap element -->
        <div
          class="air-flap absolute top-1 z-20 h-1.5 w-full rounded-b-lg bg-gradient-to-b from-[#f8f9fa] to-[#f3f4f6] shadow-lg dark:z-20 dark:bg-neutral-800/90 dark:from-neutral-600/90 dark:to-neutral-600/90 dark:shadow-lg"
        >
        </div>

        <!-- Air flow particles -->
        <div class="absolute -bottom-1 z-10 w-full">
          <div class="air-flow-container">
            {
              Array(15)
                .fill("")
                .map(() => (
                  <div class="air-particle h-3 dark:bg-gradient-to-b dark:from-blue-300/40 dark:to-blue-300/5" />
                ))
            }
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <!-- Brand logo -->
      <a
        class="flex-none rounded-lg text-xl font-bold outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
        href={PAGES.home.paths![currentLocale as Locales]}
        aria-label="Brand"
      >
        <BrandLogo class="h-auto w-24" />
      </a>
      <!-- Collapse toggle for smaller screens -->
      <div class="ml-auto flex items-center md:hidden">
        <!-- LanguagePicker component specifically for smaller screens -->
        <span class="block md:hidden">
          <LanguagePicker />
        </span>
        <button
          type="button"
          class="hs-collapse-toggle flex h-8 w-8 items-center justify-center rounded-full text-sm font-bold text-neutral-600 transition duration-300 hover:bg-neutral-200 disabled:pointer-events-none disabled:opacity-50 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:outline-none"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <svg
            class="h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:hidden"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6"></line>
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
          <svg
            class="hidden h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:block"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Contains navigation links -->
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:block"
    >
      <!-- Navigation links container -->
      <div
        class="mt-5 flex flex-col gap-x-0 gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-end md:gap-x-4 md:gap-y-0 md:ps-7 lg:gap-x-7"
      >
        {Object.values(PAGES).map((item) => <NavLink url={item.paths![currentLocale as Locales]} name={item.name} />)}

        <div class="flex items-center justify-center gap-1 pb-4 md:pb-0">
          <!-- ThemeIcon component specifically for larger screens -->
          <ThemeIcon transition:persist />
          <span class="hidden md:inline-block">
            <LanguagePicker transition:persist />
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  .perspective {
    perspective: 1000px;
  }

  @keyframes airFlap {
    0% {
      transform: rotateX(0deg);
    }
    40% {
      transform: rotateX(-75deg);
    }
    45% {
      transform: rotateX(-75deg);
    }
    85% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

  @keyframes airFlow {
    0% {
      transform: translateY(0);
      opacity: 0.8;
    }
    100% {
      transform: translateY(20px);
      opacity: 0;
    }
  }

  .air-flap {
    animation: airFlap 6s ease-in infinite;
    transform-origin: top;
    will-change: transform;
  }

  .air-flow-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    transform: translateY(2px); /* Slightly move particles down */
  }

  .air-particle {
    animation: airFlow 3s ease-out infinite;
    width: 2px;
    height: 16px;
    background: linear-gradient(to bottom, rgba(147, 197, 253, 0.8), rgba(147, 197, 253, 0.1));
    border-radius: 4px;
    filter: blur(0.5px);
    box-shadow: 0 0 2px rgba(147, 197, 253, 0.3);
  }

  .air-particle:nth-child(odd) {
    animation-delay: 0.3s;
  }
  .air-particle:nth-child(3n) {
    animation-delay: 0.6s;
  }
  .air-particle:nth-child(3n + 1) {
    animation-delay: 0.9s;
  }
  .air-particle:nth-child(5n) {
    animation-delay: 1.2s;
  }
</style>

<!--Import the necessary Collapse and Overlay plugins-->
<!--https://preline.co/plugins/html/collapse.html-->
<!--https://preline.co/plugins/html/overlay.html-->
<script>
  import "@preline/collapse/index.js";
  import "@preline/overlay/index.js";
</script>
