---
import { TranslationKeys } from "~/domain/models/TranslationKey";
import { useI18nStatic } from "~/presentation/src/shared/hooks/useI18n";

const props = Astro.props;

type Props = {
  label?: string;
  id: string;
};

const { translate } = useI18nStatic(Astro.url);
---

<div>
  <label for={props.id} class="sr-only">{translate(TranslationKeys.common_phone)}</label>
  <input
    type="tel"
    name="phone-number"
    id={props.id}
    class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
    placeholder={translate(TranslationKeys.common_phone)}
  />
</div>
