---

---

<div class="flex items-center gap-1">
  <img src="/favicon.png" alt="Brand Logo" class="h-6" />
  <h1>
    <span class="text-primary">Ant</span><span class="text-secondary">Kaya</span>
  </h1>
</div>
