---
import Meta from "~/presentation/shared/components/Meta.astro";
import Navbar from "~/presentation/shared/components/sections/navbar&footer/Navbar.astro";
import FooterSection from "~/presentation/shared/components/sections/navbar&footer/FooterSection.astro";
import { SITE } from "~/presentation/shared/constants/constants";

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
const props = Astro.props;
---

<!--
This is the main structure for the page.
We set the language of the page to English and add classes for scrollbar and scroll behavior.
-->
<html lang={props.lang || "en"} class="lenis lenis-smooth scroll-pt-16">
  <head>
    <!-- Adding metadata to the HTML document -->
    <Meta meta={props.meta} structuredData={props.structuredData} />
    <!-- Define the title of the page -->
    <title>{props.title || SITE.title}</title>
    <script is:inline>
      // Script to handle dark mode. It will check if the theme is stored in localStorage or if dark theme is preferred by system settings
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script>
      import "~/presentation/shared/assets/scripts/lenisSmoothScroll";
    </script>
  </head>
  <body class="bg-neutral-200 selection:bg-yellow-400 selection:text-neutral-700 dark:bg-neutral-800">
    <!--
    Setting up the main structure of the page.
    The Navbar is placed at the top, with a slot for the main content and FooterSection at the bottom.
    -->
    <div class="fixed inset-x-0 z-50 mx-auto max-w-screen-2xl p-4 sm:p-6 lg:px-16 lg:py-4">
      <Navbar />
    </div>
    <main>
      <slot />
    </main>
    <FooterSection />
    <style>
      /* CSS rules for the page scrollbar */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
